{% extends "base.html" %}
{%block author %}
    <li class="active"><a href="/author">The Author</a></li>
{% endblock %}
{% block content %}
    <div class="month_events">About the author</div>
    <p>
        <img src="/static/images/wiseman.jpg" width="150" height="150" alt="image" /> <br><br>
Wiseman Gabavana is the son of Simon and Nowezile Gabavana. Born in the former Transkei homeland<br />
now known as the Eastern Cape at Tsomo in the rural village of Khuze at Xolobe. <br />He started his primary schooling 
at Thembeni primary in Khuze village. He then moved to the Western Cape <br />for his high schooling in 
Masiyile Senior Secondary. <br>In 2003 he enrolled for LLB at the University of the Western Cape, but the following year he changed to Business Administration.<br />
In 2008 he graduated in Business Administration and the following year enrolled for the Higher Diploma in Education and completed it in 2010.<br />
His interests include writing and reading.His first book is "Kazi kungenxa kabani na" (Whose fault is it)was published in 2009.
    </p>



{% endblock %}
{% block coverandlikes%}
    <td class="image" valign="top">
        
        
        
    </td>
{% endblock%}
