{% extends "base.html" %}
{%block home %}
    <li class="active"><a href="/">Welcome</a></li>
{% endblock %}
{% block content %}

<div class="homewelcome testcol">Welcome</div>
<p>
This website is a supplement to <a href="">Wiseman Gabavana</a>'s book <b>Kazi Kungenxa Kabani Na</b> which was first published by Wiseman Gabavana in
September 2009. It is intended for anyone who would like to know where the book is going, what
the book has achieved, comment and ask questions to the author.
</p>
<div class="homeheading">About the book</div>

<p> The book is about the estate, the father of this family wants to share among his children everything equally when it comes to his will. Then, the first born refuses his fathers wishes saying that the estate is his hereditary rights. Eventually, the first born son kills his father, because he wanted everything to be given to him.
<br>To the Xhosas the general view is that the estate must be given to the first son. <br>
This book suggests that the estate must be shared equally, reason for that we must take one thing into account, a child is a gift from God. If we continue to share the estate unequally, there will always a be conflict.</p>

<div class="homeheading">Book aievements</div>
<p>
	<ul>
		<li> In 2010 this book was prescribed in the <b>University of the Western Cape in the Faculty of Arts at Xhosa Department</b> during the second semester for first year Xhosa students.</li>
		<li> In the same year, this book was acted by the UWC student in the University at performing <b>Arts during the Ithuba Arts Festival.</b></li>
		<li>In 2011, we went to the <b>National Arts Festival</b> in <b>Grahamstown</b> the book was acted there by the same students from the UWC.</li>
		<li> We also participated in September 2011 during the <b>Khayelitsha Arts Festival</b></li>
	</ul>
	
	
	
</p>
<div class="homeheading">Aims / Objectives of the book</div>
<p><ul>
<li>For this book to be translated in almost all the South African languages</li>
<li>For this book to turned into a Television Drama.</li>
<li>To achieve all of above I am looking for a sponsors.</li>

</p>
{% endblock %}
{% block coverandlikes%}
	<td class="image">
<img src="static/images/WG.png" width="250" height="410" alt="image" />

	</td>
	<!--<tr>
    <td></td>
    </tr>-->
{% endblock%}
